.bottom-line {
    position: relative;
    margin-bottom: 160px;

    @include mq(sm) {
        margin-bottom: 120px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -80px;
        width: 100%;
        height: 12px;
        background-color: $sub-color;
        transform-origin: center;
        transform: translateY(100%);
        transform: skewY(-4deg);
        @include mq(sm) {
            bottom: -60px;
        }
    }
}