@import '../utils/colors.scss';

.about {
    position: relative;
    margin-top: 221px;
    $margin-bottom: 35px;

    @include mq(sm) {
        margin-top: 40px;
        $margin-bottom: 20px;
    }

    .wrapper {
        text-align: center;
    }
    h2 {
        font-size: 4.411rem;
        color: $main-color;
        font-weight: $extra-bold;
        letter-spacing: 0.045em;
        margin-bottom: 0;

        @include mq(sm) {
            font-size: 3rem;
        }
    }
    .sub-title {
        font-size: 1.117rem;
        color: $main-color;
        font-weight: $bold;
        margin-bottom: $margin-bottom;

        @include mq(sm) {
            font-size: 1.1rem;
        }
    }
    img {
        max-width: 80%;
        margin-bottom: $margin-bottom;
    }
    h3 {
        color: $main-color;
        font-weight: $bold;
        font-size: 2.058rem;
        margin-bottom: $margin-bottom;
        @include mq(sm) {
            font-size: 1.5rem;
        }

        br {
            display: none;
            @include mq(sm) {
                display: block;
            }
        }
    }

    p {
        font-family: 'Noto Sans JP', sans-serif;
        br {
            @include mq(sm) {
                display: none;
            }
        }
    }
}