@import '../partials/main-title.scss';

.activity {
    margin-top: 174px;
    .container {

        @mixin activity_item($image, $reverse) {
            display: flex;
            align-items: center;

            @if $reverse {
                flex-direction: row-reverse;
            }

            @include mq(sm) {
                flex-direction: column;
            }

            .thumbnail-wrapper {
                flex-basis: 50%;
                
                @include mq(sm) {
                    width: 100%;
                }

                .thumbnail {
                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        padding-top: 66.66%;
                        background: center / cover no-repeat url($image);
                    }
                }
            }

            .info {
                flex-basis: 50%;
                padding: 50px;

                @include mq(sm) {
                    padding: 10px;
                }

                .info_header {
                    text-align: center;
                    
                    // Japanese
                    .title {
                        font-size: 1.7647rem;
                        font-weight: $bold;
                        margin-bottom: .5em;

                        @include mq(sm) {
                            font-size: 1.5rem;
                        }
                    }

                    // English
                    .sub-title {
                        color: $main-color;
                        font-size: 1.470rem;
                        font-weight: $extra-bold;
                        margin-bottom: 0;

                        @include mq(sm) {
                            font-size: 1.1rem;
                        }
                    }
                }

                .text {
                    font-size: 0.8235rem;
                    line-height: 2em;
                    color: $light-color;
                }

                .actions {
                    text-align: center;
                    .btn {
                        color: #fff;
                        background-color: $main-color;
                    }
                }
            }
        }

        $activity-margin: 100px;
        .activity_item:nth-of-type(1) {
            @include activity_item($image-dir + "activity/activity01.png", false);
            margin-bottom: $activity-margin;
        }
        .activity_item:nth-of-type(2) {
            @include activity_item($image-dir + "activity/activity02.png", true);
            margin-bottom: $activity-margin;
        }
        .activity_item:nth-of-type(3) {
            @include activity_item($image-dir + "activity/activity03.png", false);
            margin-bottom: $activity-margin;
        }
        .activity_item:nth-of-type(4) {
            @include activity_item($image-dir + "activity/activity04.png", true);
        }
    }
}