section.diary {
    .container {
        max-width: 900px;
        position: relative;

        img {
            max-width: 100%;
        }

        .contents {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
}