section.diary {

    .text {
        font-family: 'Noto Sans JP', sans-serif;
        color: $light-color;
        line-height: 1.5;
    }

    .container {
        max-width: 900px;
        position: relative;

        img {
            max-width: 100%;
        }

        .contents {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 360px;

            .text {
                font-size: 14px;
            }

            @include mq(sm) {
                width: 190px;
            }

            .control {
                display: flex;
                align-items: center;
                justify-content: space-between;

                margin-bottom: 12px;
            }

            dl {
                display: block;
                font-family: 'Noto Sans JP', sans-serif;

                font-size: 1.3rem;
                color: $main-color;

                @include mq(sm) {
                    font-size: 1rem;
                }

                dd {
                    display: block;

                    font-size: 1.5em;
                    text-align: right;
                }
            }
        }
    }
}