footer.footer {
    padding: 30px 60px 20px;
    background: #E8E8E8;
    @include mq(sm) {
        padding: 20px 30px 10px;
        flex-direction: column;
    }

    .header {
        display: flex;
        justify-content: space-between;
        @include mq(sm) {
            flex-direction: column;
        }

        .left {
            .d-flex {
                align-items: center;
                @include mq(sm) {
                    flex-direction: column;
                }
    
                address {
                    margin-bottom: 0;
                    font-size: .8235rem;
                    color: $light-color;
                }
            }
        }

        .right {

            @include mq(sm) {
                text-align: center;
            }

            ul {
                align-items: center;
                @include mq(sm) {
                    justify-content: center;
                }
            }
    
            button {
                font-size: 12px;
                color: $light-color;
                background-color: #fff;
                border-radius: 1000px;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        @include mq(sm) {
            flex-direction: column;
        }
    }

    .text-mini {
        color: $light-color;
        font-size: 11px;
    }
}