section.for-you {
    .container {
        .for-you_header {
            margin-bottom: 70px;
            @include mq(sm) {
                margin-bottom: 50px;
            }
            .list {
                display: flex;
                justify-content: space-around;
                margin-bottom: 36px;

                @include mq(sm) {
                    flex-direction: column;
                }

                .item {
                    @include mq(sm) {
                        text-align: center;
                    }
                    img {
                        width: 230px;
                        height: 230px;
                    }
                }
            }
            .text {
                font-family: 'Noto Sans JP', sans-serif;
                text-align: center;
                color: $light-color;
            }
        }
        .for-you_body {
            margin-top: 110px;
            .item {
                display: flex;
                align-items: center;
                position: relative;
                z-index: 1;

                @include mq(sm) {
                    flex-direction: column;
                }

                .info {
                    flex-basis: 50%;
                    padding-right: 30px;
                    z-index: 2;

                    @include mq(sm) {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    .sub-title {
                        font-size: 1.5294rem;
                        font-weight: $bold;

                        @include mq(sm) {
                            font-size: 1.3rem;
                        }
                    }

                    .text {
                        font-family: 'Noto Sans JP', sans-serif;
                        line-height: 1.5;
                    }

                    .actions .btn {
                        width: 290px;
                        font-size: 19px;
                        color: #fff;
                        background-color: $sub-color;
                        padding: 12px auto;
                        @include mq(sm) {
                            width: 290px * 0.82;
                        }
                    }
                }
                .thumbnail {
                    flex-basis: 50%;
                    z-index: 2;

                    @include mq(sm) {
                        width: 100%;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        padding-top: 66.66%;
                        background: no-repeat center / cover url($image-dir + 'for-you/for-you-img.png');
                    }
                }
            }

            $margin-bottom: 100px;
            .item {
                padding-bottom: $margin-bottom;
                @include mq(sm) {
                    padding-bottom: $margin-bottom / 2;
                }
            }
            $img1: 232px;
            $img2: 282px;
            $img3: 196px;
            .item:nth-of-type(1) {
                @include mq(md) {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -100px;
                        width: 1000px;
                        height: 5px;
                        background-color: $main-color;
                        transform: skewY(7deg);
                        z-index: 1;
                    }   
                }
                img {
                    width: $img1;
                    @include mq(sm) {
                        width: $img1 * 0.8;
                    }
                }
            }
            .item:nth-of-type(2) {
                @include mq(md) {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 40%;
                        width: 400px;
                        height: 5px;
                        background-color: $sub-color;
                        transform: skewY(-8deg);
                        z-index: 1;
                    }
                }
                img {
                    width: $img2;
                    @include mq(sm) {
                        width: $img2 * 0.8;
                    }
                }
            }
            .item:nth-of-type(3) {
                @include mq(md) {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -100px;
                        width: 1000px;
                        height: 5px;
                        background-color: $main-color;
                        transform: skewY(7deg);
                        z-index: 1;
                    }
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 100px;
                        left: 40%;
                        width: 400px;
                        height: 5px;
                        background-color: $sub-color;
                        transform: skewY(8deg);
                        z-index: 1;
                    }
                }
                img {
                    width: $img3;
                    @include mq(sm) {
                        width: $img3 * 0.8;
                    }
                }
            }
        }
    }
}