header.header {
    .container {
        max-width: 900px;
        transform: rotate(-3deg);
        margin-bottom: 30px;
        .title {
            color: $main-color;
            font-weight: $extra-bold;
        }
        .list {
            display: flex;
            justify-content: space-between;
            .item a{
                color: $light-color;
            }
            .item:nth-of-type(1) a {
                color: $main-color;
            }
        }
    }

    &::after {
        content: '';
        display: block;
        height: 35px;
        background: $main-color;
        transform-origin: center;
        transform: skewY(-3deg);
    }

    @include mq(sm) {
        display: none;
    }
}