// header PC
header.header {
    width: 100%;
    position: relative;
    margin-top: 85px;
    margin-bottom: 60px;
    z-index: 1;
    @include mq(sm) {
        margin-bottom: 30px;
    }
    .container {
        max-width: 900px;
        transform: rotate(-3.5deg);
        margin-bottom: 30px;
        .title {
            color: $main-color;
            font-weight: $extra-bold;
        }
        .list {
            display: flex;
            justify-content: space-between;
            .item a{
                color: $light-color;
            }
            .item:nth-of-type(1) a {
                color: $main-color;
            }
        }
    }

    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 35px;
        background: $main-color;
        transform-origin: center;
        transform: skewY(-4deg);
    }

    @include mq(sm) {
        display: none;
    }

    a.donation {
        display: block;
        position: absolute;
        right: 0;
        bottom: -50px;
        z-index: 2;

        transform: translateX(40%);
        img {
            height: 140px;
            width: 140px;
        }
    }
}
// header SP
header.navbar {
    a.main-color {
        color: $main-color;
    }
}