.message {
    background-color: #fff;
    .sub-title {
        font-size: 3.5294rem;
        color: $main-color;
        text-align: center;
        margin-bottom: 80px;

        @include mq(sm) {
            font-size: 1.5rem;
            margin-bottom: 40px;
        }
    }
    .message-wrapper {
        display: flex;
        @include mq(sm) {
            flex-direction: column;
        }

        .profile {
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 14px;
            flex-basis: 50%;

            @include mq(md) {
                transform: translateY(-45px);
            }

            .profile-img {
                img {
                    max-width: 100%;
                }
            }

            .text-wrapper {
                margin-right: 100px;

                @include mq(sm) {
                    margin-right: 0;
                }

                .career {
                    color: $main-color;
                    font-weight: $bold;

                    .title {
                        font-size: 1.1764rem;
                    }
                }
            }
        }

        .body {
            flex-basis: 50%;
            line-height: 1.5em;

            ul {
                color: $main-color;
            }

            .text {
                br {
                    @include mq(sm) {
                        display: none;
                    }
                }
            }
        }
    }

    h3 {
        text-align: center;
        
        color: $main-color;
        font-size: 50px;
        font-weight: $extra-bold;
    }

    .staff-wrapper {
        p { margin-bottom: 0; }
        .staff-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .staff-item {
                flex-basis: 240px;
                .header {
                    position: relative;
                    img {
                        max-width: 100%;
                    }
                    .name {
                        position: absolute;
                        left: 10px;
                        bottom: 10px;

                        color: $main-color;
                        font-size: 1.2941rem;
                        font-weight: $extra-bold;
                    }
                }

                .body {
                    font-family: 'Noto Sans JP', sans-serif;
                    .position {
                        color: $main-color;
                        line-height: 1;
                        font-size: 1.0588rem;
                    }
                    .name {
                        font-size: 1.4706rem;
                        line-height: 1;
                    }
                    .text {
                        font-size: 0.8235rem;
                    }
                }
            }
        }
    }
}