.message {
    background-color: #fff;
    .sub-title {
        font-size: 60px;
        color: $main-color;
        text-align: center;
    }

    .message-wrapper {
        display: flex;

        @include mq(sm) {
            flex-direction: column;
        }

        .profile {
            flex-basis: 50%;

            .profile-img {
                img {
                    max-width: 100%;
                }
            }

            .text-wrapper {
                margin-right: 100px;

                @include mq(sm) {
                    margin-right: 0;
                }

                .career {
                    color: $main-color;
                }
            }
        }

        .body {
            flex-basis: 50%;

            ul {
                color: $main-color;
            }
        }
    }

    h3 {
        text-align: center;
        
        color: $main-color;
        font-size: 50px;
        font-weight: $extra-bold;
    }

    .staff-wrapper {
        p { margin-bottom: 0; }
        .staff-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .staff-item {
                flex-basis: 240px;
                .header {
                    position: relative;
                    img {
                        max-width: 100%;
                    }
                    p {
                        position: absolute;
                        left: 10px;
                        bottom: 10px;
                    }
                }
            }
        }
    }
}