.supporters {
    text-align: center;
    
    .title {
        color: $main-color;
        font-size: 1.4705rem;
    }

    .list {
        display: flex;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        @include mq(sm) {
            flex-direction: column;
        }
        .item {
            margin-right: 50px;
            @include mq(sm) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        .item:last-of-type {
            margin-right: 0;
            @include mq(sm) {
                margin-bottom: 0;
            }
        }
    }
}