.supporters {
    text-align: center;
    
    .title {
        color: $main-color;
    }

    .list {
        display: flex;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        @include mq(sm) {
            flex-direction: column;
        }
        .item {
            margin-right: 50px;
        }
        .item:last-of-type {
            margin-right: 0;
        }
    }
}