.main-color {
  color: #E60012; }

.top .wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/top/background.png");
  position: relative; }
.top .logo {
  display: inline-block;
  width: 120px;
  height: 172.5px; }
  @media screen and (max-width: 767px) {
    .top .logo {
      width: 84px;
      height: 120.75px; } }
.top .title {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 767px) {
    .top .title {
      width: 100%; } }
  .top .title img {
    width: 100%; }

header.header {
  margin-top: 40px;
  margin-bottom: 50px; }
  @media screen and (max-width: 767px) {
    header.header {
      margin-bottom: 30px; } }
  header.header .container {
    max-width: 900px;
    transform: rotate(-3.5deg);
    margin-bottom: 30px; }
    header.header .container .title {
      color: #E60012;
      font-weight: 700; }
    header.header .container .list {
      display: flex;
      justify-content: space-between; }
      header.header .container .list .item a {
        color: #707070; }
      header.header .container .list .item:nth-of-type(1) a {
        color: #E60012; }
  header.header::after {
    content: '';
    display: block;
    height: 35px;
    background: #E60012;
    transform-origin: center;
    transform: skewY(-3.5deg); }
  @media screen and (max-width: 767px) {
    header.header {
      display: none; } }

header.navbar a.main-color {
  color: #E60012; }

.main-color {
  color: #E60012; }

.about .wrapper {
  text-align: center; }
.about h2 {
  font-size: 4.411rem;
  color: #E60012;
  font-weight: 700;
  letter-spacing: 0.045em;
  margin-bottom: 0; }
  @media screen and (max-width: 767px) {
    .about h2 {
      font-size: 3rem; } }
.about .sub-title {
  font-size: 1.117rem;
  color: #E60012;
  font-weight: 600;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .about .sub-title {
      font-size: 1.1rem; } }
.about img {
  max-width: 80%;
  margin-bottom: 20px; }
.about h3 {
  color: #E60012;
  font-weight: 600;
  font-size: 2.058rem;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .about h3 {
      font-size: 1.5rem; } }
  .about h3 br {
    display: none; }
    @media screen and (max-width: 767px) {
      .about h3 br {
        display: block; } }
@media screen and (max-width: 767px) {
  .about p br {
    display: none; } }

.vision {
  text-align: center; }
  .vision .title, .vision .sub-title {
    color: #E60012;
    font-weight: 700; }
  .vision .title {
    font-size: 3.529rem;
    letter-spacing: 0.045em; }
    @media screen and (max-width: 767px) {
      .vision .title {
        font-size: 3rem;
        margin-bottom: 0; } }
  .vision .sub-title {
    font-size: 1.764rem; }
    @media screen and (max-width: 767px) {
      .vision .sub-title {
        font-size: 1.1rem; } }
  .vision .text {
    color: #707070;
    margin-bottom: 40px; }
    @media screen and (max-width: 767px) {
      .vision .text br {
        display: none; } }
  .vision .card-wrapper {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .vision .card-wrapper {
        flex-flow: column;
        margin-right: 10px; } }
    .vision .card-wrapper .card {
      display: block;
      border: none;
      text-align: center; }
    .vision .card-wrapper .card:nth-of-type(1) {
      padding: 38px;
      border-radius: 0;
      box-shadow: 10px 10px #E60012;
      margin-right: 30px; }
      @media screen and (max-width: 767px) {
        .vision .card-wrapper .card:nth-of-type(1) {
          margin-right: 0;
          margin-bottom: 35px; } }
    .vision .card-wrapper .card:nth-of-type(2) {
      padding: 38px;
      border-radius: 0;
      box-shadow: 10px 10px #22B8D7; }
    .vision .card-wrapper .card_sub-title {
      font-size: 40px;
      font-weight: 600;
      color: #707070; }

.main-title {
  margin: 40px 0 40px 0;
  width: 100%;
  height: 120px;
  position: relative;
  z-index: 1; }
  .main-title h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.647rem;
    font-weight: 600;
    letter-spacing: 0.045em;
    z-index: 2; }
    @media screen and (max-width: 767px) {
      .main-title h2 {
        font-size: 2.1rem;
        text-align: center; } }
    @media screen and (min-width: 768px) {
      .main-title h2 br {
        display: none; } }
  .main-title::after {
    content: '';
    display: block;
    position: absolute;
    height: 120px;
    width: 100%;
    transform: skewY(3deg);
    background-color: #E60012; }
  .main-title::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 36px;
    background-color: #22B8D7;
    transform: translateY(-50%);
    transform: skewY(-5deg); }

.activity .container .activity_item:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .activity .container .activity_item:nth-of-type(1) {
      flex-direction: column; } }
  .activity .container .activity_item:nth-of-type(1) .thumbnail-wrapper {
    flex-basis: 50%; }
    @media screen and (max-width: 767px) {
      .activity .container .activity_item:nth-of-type(1) .thumbnail-wrapper {
        width: 100%; } }
    .activity .container .activity_item:nth-of-type(1) .thumbnail-wrapper .thumbnail::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 66.66%;
      background: center/cover no-repeat url("../image/activity/activity01.png"); }
  .activity .container .activity_item:nth-of-type(1) .info {
    flex-basis: 50%;
    padding: 50px; }
    @media screen and (max-width: 767px) {
      .activity .container .activity_item:nth-of-type(1) .info {
        padding: 10px; } }
    .activity .container .activity_item:nth-of-type(1) .info .info_header {
      text-align: center; }
      .activity .container .activity_item:nth-of-type(1) .info .info_header .title {
        font-size: 1.7647rem;
        font-weight: 600;
        margin-bottom: .5em; }
        @media screen and (max-width: 767px) {
          .activity .container .activity_item:nth-of-type(1) .info .info_header .title {
            font-size: 1.5rem; } }
      .activity .container .activity_item:nth-of-type(1) .info .info_header .sub-title {
        color: #E60012;
        font-size: 1.470rem;
        font-weight: 700;
        margin-bottom: 0; }
        @media screen and (max-width: 767px) {
          .activity .container .activity_item:nth-of-type(1) .info .info_header .sub-title {
            font-size: 1.1rem; } }
    .activity .container .activity_item:nth-of-type(1) .info .text {
      font-size: 0.8235rem;
      line-height: 2em;
      color: #707070; }
    .activity .container .activity_item:nth-of-type(1) .info .actions {
      text-align: center; }
      .activity .container .activity_item:nth-of-type(1) .info .actions .btn {
        color: #fff;
        background-color: #E60012; }
.activity .container .activity_item:nth-of-type(2) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .activity .container .activity_item:nth-of-type(2) {
      flex-direction: column; } }
  .activity .container .activity_item:nth-of-type(2) .thumbnail-wrapper {
    flex-basis: 50%; }
    @media screen and (max-width: 767px) {
      .activity .container .activity_item:nth-of-type(2) .thumbnail-wrapper {
        width: 100%; } }
    .activity .container .activity_item:nth-of-type(2) .thumbnail-wrapper .thumbnail::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 66.66%;
      background: center/cover no-repeat url("../image/activity/activity02.png"); }
  .activity .container .activity_item:nth-of-type(2) .info {
    flex-basis: 50%;
    padding: 50px; }
    @media screen and (max-width: 767px) {
      .activity .container .activity_item:nth-of-type(2) .info {
        padding: 10px; } }
    .activity .container .activity_item:nth-of-type(2) .info .info_header {
      text-align: center; }
      .activity .container .activity_item:nth-of-type(2) .info .info_header .title {
        font-size: 1.7647rem;
        font-weight: 600;
        margin-bottom: .5em; }
        @media screen and (max-width: 767px) {
          .activity .container .activity_item:nth-of-type(2) .info .info_header .title {
            font-size: 1.5rem; } }
      .activity .container .activity_item:nth-of-type(2) .info .info_header .sub-title {
        color: #E60012;
        font-size: 1.470rem;
        font-weight: 700;
        margin-bottom: 0; }
        @media screen and (max-width: 767px) {
          .activity .container .activity_item:nth-of-type(2) .info .info_header .sub-title {
            font-size: 1.1rem; } }
    .activity .container .activity_item:nth-of-type(2) .info .text {
      font-size: 0.8235rem;
      line-height: 2em;
      color: #707070; }
    .activity .container .activity_item:nth-of-type(2) .info .actions {
      text-align: center; }
      .activity .container .activity_item:nth-of-type(2) .info .actions .btn {
        color: #fff;
        background-color: #E60012; }
.activity .container .activity_item:nth-of-type(3) {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .activity .container .activity_item:nth-of-type(3) {
      flex-direction: column; } }
  .activity .container .activity_item:nth-of-type(3) .thumbnail-wrapper {
    flex-basis: 50%; }
    @media screen and (max-width: 767px) {
      .activity .container .activity_item:nth-of-type(3) .thumbnail-wrapper {
        width: 100%; } }
    .activity .container .activity_item:nth-of-type(3) .thumbnail-wrapper .thumbnail::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 66.66%;
      background: center/cover no-repeat url("../image/activity/activity03.png"); }
  .activity .container .activity_item:nth-of-type(3) .info {
    flex-basis: 50%;
    padding: 50px; }
    @media screen and (max-width: 767px) {
      .activity .container .activity_item:nth-of-type(3) .info {
        padding: 10px; } }
    .activity .container .activity_item:nth-of-type(3) .info .info_header {
      text-align: center; }
      .activity .container .activity_item:nth-of-type(3) .info .info_header .title {
        font-size: 1.7647rem;
        font-weight: 600;
        margin-bottom: .5em; }
        @media screen and (max-width: 767px) {
          .activity .container .activity_item:nth-of-type(3) .info .info_header .title {
            font-size: 1.5rem; } }
      .activity .container .activity_item:nth-of-type(3) .info .info_header .sub-title {
        color: #E60012;
        font-size: 1.470rem;
        font-weight: 700;
        margin-bottom: 0; }
        @media screen and (max-width: 767px) {
          .activity .container .activity_item:nth-of-type(3) .info .info_header .sub-title {
            font-size: 1.1rem; } }
    .activity .container .activity_item:nth-of-type(3) .info .text {
      font-size: 0.8235rem;
      line-height: 2em;
      color: #707070; }
    .activity .container .activity_item:nth-of-type(3) .info .actions {
      text-align: center; }
      .activity .container .activity_item:nth-of-type(3) .info .actions .btn {
        color: #fff;
        background-color: #E60012; }
.activity .container .activity_item:nth-of-type(4) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }
  @media screen and (max-width: 767px) {
    .activity .container .activity_item:nth-of-type(4) {
      flex-direction: column; } }
  .activity .container .activity_item:nth-of-type(4) .thumbnail-wrapper {
    flex-basis: 50%; }
    @media screen and (max-width: 767px) {
      .activity .container .activity_item:nth-of-type(4) .thumbnail-wrapper {
        width: 100%; } }
    .activity .container .activity_item:nth-of-type(4) .thumbnail-wrapper .thumbnail::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 66.66%;
      background: center/cover no-repeat url("../image/activity/activity04.png"); }
  .activity .container .activity_item:nth-of-type(4) .info {
    flex-basis: 50%;
    padding: 50px; }
    @media screen and (max-width: 767px) {
      .activity .container .activity_item:nth-of-type(4) .info {
        padding: 10px; } }
    .activity .container .activity_item:nth-of-type(4) .info .info_header {
      text-align: center; }
      .activity .container .activity_item:nth-of-type(4) .info .info_header .title {
        font-size: 1.7647rem;
        font-weight: 600;
        margin-bottom: .5em; }
        @media screen and (max-width: 767px) {
          .activity .container .activity_item:nth-of-type(4) .info .info_header .title {
            font-size: 1.5rem; } }
      .activity .container .activity_item:nth-of-type(4) .info .info_header .sub-title {
        color: #E60012;
        font-size: 1.470rem;
        font-weight: 700;
        margin-bottom: 0; }
        @media screen and (max-width: 767px) {
          .activity .container .activity_item:nth-of-type(4) .info .info_header .sub-title {
            font-size: 1.1rem; } }
    .activity .container .activity_item:nth-of-type(4) .info .text {
      font-size: 0.8235rem;
      line-height: 2em;
      color: #707070; }
    .activity .container .activity_item:nth-of-type(4) .info .actions {
      text-align: center; }
      .activity .container .activity_item:nth-of-type(4) .info .actions .btn {
        color: #fff;
        background-color: #E60012; }

section.for-you .container .for-you_header {
  margin-bottom: 70px; }
  @media screen and (max-width: 767px) {
    section.for-you .container .for-you_header {
      margin-bottom: 50px; } }
  section.for-you .container .for-you_header .list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px; }
    @media screen and (max-width: 767px) {
      section.for-you .container .for-you_header .list {
        flex-direction: column; } }
    @media screen and (max-width: 767px) {
      section.for-you .container .for-you_header .list .item {
        text-align: center; } }
    section.for-you .container .for-you_header .list .item img {
      width: 230px;
      height: 230px; }
  section.for-you .container .for-you_header .text {
    text-align: center;
    color: #707070; }
section.for-you .container .for-you_body .item {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 767px) {
    section.for-you .container .for-you_body .item {
      flex-direction: column; } }
  section.for-you .container .for-you_body .item .info {
    flex-basis: 50%;
    padding-right: 30px; }
    @media screen and (max-width: 767px) {
      section.for-you .container .for-you_body .item .info {
        width: 100%;
        margin-bottom: 10px; } }
    section.for-you .container .for-you_body .item .info .title img {
      width: 230px; }
    section.for-you .container .for-you_body .item .info .sub-title {
      font-size: 1.5294rem;
      font-weight: 600; }
      @media screen and (max-width: 767px) {
        section.for-you .container .for-you_body .item .info .sub-title {
          font-size: 1.3rem; } }
    section.for-you .container .for-you_body .item .info .actions .btn {
      font-size: 19px;
      color: #fff;
      background-color: #22B8D7;
      padding: 10px auto; }
  section.for-you .container .for-you_body .item .thumbnail {
    flex-basis: 50%; }
    @media screen and (max-width: 767px) {
      section.for-you .container .for-you_body .item .thumbnail {
        width: 100%; } }
    section.for-you .container .for-you_body .item .thumbnail::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 66.66%;
      background: no-repeat center/cover url("../image/for-you/for-you-img.png"); }
section.for-you .container .for-you_body .item {
  padding-bottom: 100px; }
  @media screen and (max-width: 767px) {
    section.for-you .container .for-you_body .item {
      padding-bottom: 50px; } }

.message {
  background-color: #fff; }
  .message .sub-title {
    font-size: 3.5294rem;
    color: #E60012;
    text-align: center;
    margin-bottom: 80px; }
    @media screen and (max-width: 767px) {
      .message .sub-title {
        font-size: 1.5rem;
        margin-bottom: 40px; } }
  .message .message-wrapper {
    display: flex; }
    @media screen and (max-width: 767px) {
      .message .message-wrapper {
        flex-direction: column; } }
    .message .message-wrapper .profile {
      font-size: 14px;
      flex-basis: 50%; }
      @media screen and (min-width: 768px) {
        .message .message-wrapper .profile {
          transform: translateY(-45px); } }
      .message .message-wrapper .profile .profile-img img {
        max-width: 100%; }
      .message .message-wrapper .profile .text-wrapper {
        margin-right: 100px; }
        @media screen and (max-width: 767px) {
          .message .message-wrapper .profile .text-wrapper {
            margin-right: 0; } }
        .message .message-wrapper .profile .text-wrapper .career {
          color: #E60012;
          font-weight: 600; }
          .message .message-wrapper .profile .text-wrapper .career .title {
            font-size: 1.1764rem; }
    .message .message-wrapper .body {
      flex-basis: 50%;
      line-height: 1.5em; }
      .message .message-wrapper .body ul {
        color: #E60012; }
      @media screen and (max-width: 767px) {
        .message .message-wrapper .body .text br {
          display: none; } }
  .message h3 {
    text-align: center;
    color: #E60012;
    font-size: 50px;
    font-weight: 700; }
  .message .staff-wrapper p {
    margin-bottom: 0; }
  .message .staff-wrapper .staff-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .message .staff-wrapper .staff-list .staff-item {
      flex-basis: 240px; }
      .message .staff-wrapper .staff-list .staff-item .header {
        position: relative; }
        .message .staff-wrapper .staff-list .staff-item .header img {
          max-width: 100%; }
        .message .staff-wrapper .staff-list .staff-item .header .name {
          position: absolute;
          left: 10px;
          bottom: 10px;
          color: #E60012;
          font-size: 1.2941rem;
          font-weight: 700; }
      .message .staff-wrapper .staff-list .staff-item .body .position {
        color: #E60012;
        line-height: 1;
        font-size: 1.0588rem; }
      .message .staff-wrapper .staff-list .staff-item .body .name {
        font-size: 1.4706rem;
        line-height: 1; }
      .message .staff-wrapper .staff-list .staff-item .body .text {
        font-size: 0.8235rem; }

section.diary .text {
  color: #707070;
  line-height: 1.5; }
section.diary .container {
  max-width: 900px;
  position: relative; }
  section.diary .container img {
    max-width: 100%; }
  section.diary .container .contents {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 320px; }
    @media screen and (max-width: 767px) {
      section.diary .container .contents {
        width: 190px; } }
    section.diary .container .contents .control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px; }
    section.diary .container .contents dl {
      display: block;
      font-size: 1.3rem;
      color: #E60012; }
      @media screen and (max-width: 767px) {
        section.diary .container .contents dl {
          font-size: 1rem; } }
      section.diary .container .contents dl dd {
        display: block;
        font-size: 1.5em;
        text-align: right; }

.supporters {
  text-align: center; }
  .supporters .title {
    color: #E60012;
    font-size: 1.4705rem; }
  .supporters .list {
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 767px) {
      .supporters .list {
        flex-direction: column; } }
    .supporters .list .item {
      margin-right: 50px; }
      @media screen and (max-width: 767px) {
        .supporters .list .item {
          margin-right: 0;
          margin-bottom: 16px; } }
    .supporters .list .item:last-of-type {
      margin-right: 0; }
      @media screen and (max-width: 767px) {
        .supporters .list .item:last-of-type {
          margin-bottom: 0; } }

footer.footer {
  padding: 30px 60px 20px;
  background: #E8E8E8; }
  @media screen and (max-width: 767px) {
    footer.footer {
      padding: 20px 30px 10px;
      flex-direction: column; } }
  footer.footer .header {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      footer.footer .header {
        flex-direction: column; } }
    footer.footer .header .left .d-flex {
      align-items: center; }
      @media screen and (max-width: 767px) {
        footer.footer .header .left .d-flex {
          flex-direction: column; } }
      footer.footer .header .left .d-flex address {
        margin-bottom: 0;
        font-size: .8235rem;
        color: #707070; }
    @media screen and (max-width: 767px) {
      footer.footer .header .right {
        text-align: center; } }
    footer.footer .header .right ul {
      align-items: center; }
      @media screen and (max-width: 767px) {
        footer.footer .header .right ul {
          justify-content: center; } }
    footer.footer .header .right button {
      font-size: 12px;
      color: #707070;
      background-color: #fff;
      border-radius: 1000px; }
  footer.footer .footer {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      footer.footer .footer {
        flex-direction: column; } }
  footer.footer .text-mini {
    color: #707070;
    font-size: 11px; }

html {
  font-size: 17px;
  font-weight: 400; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 16px; } }

body {
  font-family: 'Noto Sans JP','Open Sans', sans-serif; }

a {
  color: #000;
  text-decoration: none; }

section, .supporters {
  margin-bottom: 50px; }
  @media screen and (max-width: 767px) {
    section, .supporters {
      margin-bottom: 30px; } }

.white {
  background-color: #fff; }

.gray {
  background-color: #F2F2F2; }

/*# sourceMappingURL=index.css.map */
