@import './utils/paths.scss';
@import './utils/fonts.scss';
@import './utils/colors.scss';
@import './sections/top.scss';
@import './sections/header.scss';
@import './sections/about.scss';
@import './sections/vision.scss';
@import './sections/activity.scss';
@import './sections/for-you.scss';
@import './sections/message.scss';
@import './sections/diary.scss';
@import './sections/supporters.scss';
@import './sections/footer.scss';
@import './partials/bottom-line.scss';

html {
    font-size: 17px;
    // font-weight: 400;
    @include mq(sm) {
        font-size: 16px;
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.index {
    header.header {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 140%;

            width: 100%;
            height: 18px;
            background-color: $sub-color;

            transform-origin: top left;
            transform: skewY(6deg);
        }
    }
}

section, .supporters {
    margin-bottom: 50px;
    @include mq(sm) {
        margin-bottom: 30px;
    }
}

.white {
    background-color: #fff;
}

.gray {
    background-color: #F2F2F2;
}